@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+NZ:wght@100..400&family=Playwrite+US+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+NZ:wght@100..400&family=Playwrite+PL:wght@100..400&family=Playwrite+US+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px !important;
    width: 100%;
    padding: 0px 15px;
}
.bg-img{
    position:fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.bg-img img{
    height: 100%;
    width: 100%;
    filter: grayscale();
}
header,
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h2{
    font-size: 40px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    font-weight: 800;
    letter-spacing: 1.5px;
}
.heading p{
    font-size: 24px;
    text-transform: capitalize;
}
@media screen and (max-width:575px) {
    .heading{
        height: auto;
    }
    .heading .container{
        padding: 10px 0px;
    }
    .heading h2{
        font-size: 28px;
    }
    .heading p{
        font-size: 14px;
    }
}
/* End of heading */
/* Start of content1s */
.content1{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.content1 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content1 .container h2{
    font-size: 32px;
    font-family: "Playwrite PL", cursive;
    text-decoration: underline;
    text-transform: uppercase;
}
.content1 .container .cards-layout{
    padding-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.content1 .container .cards-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: 2fr 2fr;
    grid-row-gap: 25px;
    padding-bottom: 50px;
}
.content1 .container .cards-layout .img{
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}
.content1 .container .cards-layout .img img{
    height: 100%;
    width: 100%;
}
.content1 .container .cards-layout .img .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.486);
    color: #fff;
    height: 100%;
    width: 100%;
    /* visibility: hidden; */
    transition: all 0.5s ease;
}
.content1 .container .cards-layout .img:hover .details{
    top: 0;
}
.content1 .container .cards-layout .img .details h4{
    font-size: 20px;
    text-transform: capitalize;
}
.content1 .cards-layout .img .details button{
    height: 30px;
    width: 55%;
    text-transform: capitalize;
    border: 1px solid #fff;
    font-size: 14px;
    transition: all 1s ease;
}
.content1 .cards-layout .img .details button:hover{
    background-color: black;
    color: #fff;
}
@media screen and (max-width:767px) {
    .content1 .container .cards-layout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
        grid-template-rows: 2fr 2fr;
        grid-row-gap: 10px;
        padding: 0px 50px;
    }
}
@media screen and (max-width:575px) {
    .content1 .container h2{
        font-size: 28px;
    }
    .content1 .container .cards-layout .img{
        height: 150px;
    }
   .content1 .container .cards-layout .img .details h4{
    font-size: 14px;
    font-weight: normal;
    }
    .content1 .img .details p{
        font-size: 12px;
    }
    .content1 .cards-layout .img .details button{
        height: 20px;
        font-size: 12px;
        width: 50%;
    }
}
@media screen and (max-width:480px){
    .content1 .container .cards-layout{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-template-rows: 2fr 2fr;
        grid-row-gap: 10px;
        padding: 0px 30px;
    }
}
@media screen and (max-width:350px){
    .content1 .container .cards-layout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 10px;
        padding: 0px 50px;
    }
}
.content2{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.content2 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content2 .container h2{
    font-size: 32px;
    font-family: "Playwrite PL", cursive;
    text-decoration: underline;
    text-transform: uppercase;
}
.content2 .container .cards-layout{
    padding-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.content2 .container .cards-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    grid-template-rows: 2fr 2fr;
    grid-row-gap: 25px;
    padding-bottom: 50px;
}
.content2 .container .cards-layout .img{
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}
.content2 .container .cards-layout .img img{
    height: 100%;
    width: 100%;
}
.content2 .container .cards-layout .img .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.486);
    color: #fff;
    height: 100%;
    width: 100%;
    /* visibility: hidden; */
    transition: all 0.5s ease;
}
.content2 .container .cards-layout .img:hover .details{
    top: 0;
}
.content2 .container .cards-layout .img .details h4{
    font-size: 20px;
    text-transform: capitalize;
}
.content2 .cards-layout .img .details button{
    height: 30px;
    width: 55%;
    text-transform: capitalize;
    border: 1px solid #fff;
    font-size: 14px;
    transition: all 1s ease;
}
.content2 .cards-layout .img .details button:hover{
    background-color: black;
    color: #fff;
}
@media screen and (max-width:767px) {
    .content2 .container .cards-layout{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 100px;
        grid-template-rows: 2fr 2fr;
        grid-row-gap: 25px;
        padding: 0px 100px;
        padding-bottom: 50px;
    }
    .content2 .cards-layout .img .details button{
        width: 35%;
    }
}
@media screen and (max-width:575px) {
    .content2 .container h2{
        font-size: 28px;
    }
    .content2 .container .cards-layout .img{
        height: 200px;
    }
}
@media screen and (max-width:480px) {
    .content2 .container h2{
        font-size: 20px;
    }
    .content2 .container .cards-layout{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 100px;
        grid-template-rows: 2fr 2fr;
        grid-row-gap: 25px;
        padding: 0px 50px;
        padding-bottom: 50px;
    }
    .content2 .container .cards-layout .img{
        height: 200px;
    }
    .content2 .cards-layout .img .details button{
        width: 45%;
    }
}
@media screen and (max-width:350px) {
    .content2 .container h2{
        font-size: 20px;
    }
    .content2 .container .cards-layout{
        padding: 0px 20px;
        padding-bottom: 50px;
    }
}